* {
    font-family: 'Overpass', sans-serif;
}

.navbar-font{
    font-size: 1.8vw;
    margin-top: 20px;
}

.nav-link {
    color: inherit;
    color: #404040;
}

.text-active {
    color: inherit;
}

ul.nav a:hover{
    color: #666362;
}

.img-mid {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-gal-size {
    width: 100%;
    height: 250px;
}

.img-distance, .img-distance2 {
    margin-bottom: 2%;
    padding: 10px
}

.distance {
    margin-bottom: 4%;
    padding: 20px;
}

.image {
    margin-top: 70px;
}

.navbar-nav {
    width: 100%;
    text-align: center;
}

.navbar-nav > li {
    float: none;
    display: inline-block;
}

.bg-nav {
    background: white;
}

/*
.bg-website {
    background-image: url(./donlot/496171-pink_hair-anime_girls-katana-sword-yellow_eyes-snow-748x421.jpg);
    background-repeat: no-repeat;
    position: fixed;
    width: 100%;
    height: 100%;
    background-size: 100%;
}
*/


.inspiration {
    position: relative;
    overflow: hidden;
}

.inspiration, .ins-img {
    margin-bottom: 1.85714286em;
}

.rounded-circle {
   width: 160px;
   height: 160px;
}

section, .space--sm {
    padding-top: 4.95238095em;
    padding-bottom: 4.95238095em;
}

.bg--secondary {
    background: #fafafa;
    border-top: 1px solid hidden #ebebeb;

}

.lead {
    font-weight: 400;
    color: #808080;
    font-size: 1.35714286em;
    line-height: 1.68421053em;
}

.h3 {
    margin-bottom: 1.04em;
}

span > .h3 {
    display: block;
}

.jk {
    margin-left: 130px;
}